<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
{{range .}}
{{ .Name}}
{{range.Menu}}
{{.Meal}}
{{range .Item}}
{{.Name}}-{{.Descrip}}-{{.Price}}
{{end}}
{{end}}
{{end}}
</body>
</html>