<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Composition</title>
</head>
<body>
<h1>{{.Name}}</h1>
<h2>{{.Age}}</h2>
<h3>{{.Someprocessing}}</h3>
<h3>{{.Agedouble}}</h3>
<h3>{{.Age | .Takesargs}}</h3>

</body>
<html>